header {
  display: flex;
  height:510px;
  width: 100%;
  background-color: rgb(88, 106, 100);
  padding-top: 141px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}


@media only screen and (min-width: 1024px) {
  header{
    margin-top: 21em;
  }
}