.new-tweet {
  width: 100%;
  margin: auto;
  font-weight: bolder;
  display: block;
  /* flex-direction: column; */
}

button {
  font-family: Bungee,cursive;
  color:#4056A1;
  text-align: center;
  justify-content: space-evenly;
}


#submit-tweet{
  background-color: #4056A1;
  color:#FFFFFF;
}

.counter {
  display: flex;
  justify-content: end;
  font-weight: bolder;
}

label {
  font-weight: bolder;
  margin-bottom: 1em;
}


textarea {
  background-color: #f4f1ec;
  display: flex;
  justify-content: stretch;
  border: 20px;
  border-bottom: 5px solid rgb(0, 0, 0);
  width: -webkit-fill-available;
  clear: both; 
  resize: none;
}

.submit-row{
  padding-top: 3%;
  padding-bottom: 3%;
}

