.new-tweet {
  width: 100%;
  margin: auto;
  font-weight: bolder;
  display: block;
  /* flex-direction: column; */
}

button {
  background-color: #4056A1;
  font-family: Bungee,cursive;
  color:#FFFFFF;
  text-align: center;
  justify-content: space-evenly;
}

.counter {
  display: flex;
  justify-content: end;
  font-weight: bolder;
}

label {
  font-weight: bolder;
  margin-bottom: 1em;
}

/* #text-tweet {
  background-color: #f4f1ec;
  border: 20px;
  border-bottom: 5px solid rgb(0, 0, 0);
  clear:both; 
} */

textarea {
  background-color: #f4f1ec;
  display: flex;
  justify-content: stretch;
  border: 20px;
  border-bottom: 5px solid rgb(0, 0, 0);
  /* width: auto; */
  width: -webkit-fill-available;
  clear: both; 
  resize: none;
}

.submit-row{
  padding-top: 3%;
  padding-bottom: 3%;
}